button {
    cursor: pointer;
}

*:focus {
    outline: 2px solid #d3573c;
}

#contact_modal {
    overflow-y: hidden;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgba(196, 196, 196, 0.4);
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover, .contact_button:focus {
    background-color: #D3573C;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    height: 650px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.modal header h2, .modal header h3  {
    margin: 0;
    font-size: 50px;
    font-weight: normal;
}

.modal header button {
    border: none;
    background-color: #DB8876;
}

form {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 26px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
}

form textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: none;
    border-radius: 5px;
}

.modal button {
    margin-top: 10px;
}
/* Custom */

.photograph-header  article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
}

.photograph-header article h2 {
    margin: 0;
    color: #D3573C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
}

.photograph-header  article h3 {
    margin: 0;
    margin-top: 16px;
    color: #901C1C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.photograph-header article p {
    margin: 0;
    margin-top: 20px;
    color: #525252;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#main form {
    display: flex;
    flex-direction: row;
    margin: 0 100px;
    margin-top: 50px;
}

#main form label{
    color: #000000;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

#main form select {
    margin-left: 20px;
    padding: 15px;
    color: white;
    background: #911C1C;
    border-radius: 5px;
}

#main form option {
    background: #911C1C;
}

.photograph-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
}

.photograph-gallery article {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 300px;
}

.photograph-gallery article img {
    height: 350px;
    width: 300px;
    border-radius: 5px;
}

.photograph-gallery article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photograph-gallery article div h3{
    color: #911C1C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.photograph-gallery article div span{
    color: #911C1C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.photograph-gallery button {
    border: none;
    background-color: white;
    color: #911C1C;
    font-size: 24px;
}

.photograph-gallery button:hover, .photograph-gallery button:focus {
    color: #D3573C;
}

#gallery-modal {
    display: none;
    justify-content: center;
    align-items: center;
}

#gallery-modal img {
    height: 600px;
    width: 600px;
    border-radius: 5px;
}

#gallery-modal button {
    cursor: pointer;
    border: none;
    background-color: white;
}

#gallery-modal p {
    color: #911C1C;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}

#gallery-modal i {
    margin: 20px;
    color: #911C1C;
    font-size: 38px;
}

.gallery-modalClose {
    position: absolute;
    top: 70px;
}

.custom-select {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    background-color: #901c1c;
    border-radius: 5px;
    width: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 170px;
    height: 69px;
    cursor: pointer;
    color: #ffffff;
    background-color: #901c1c;
    border-radius: 5px;
  }
  
  /*style the arrow inside the select element:*/
  
  .select:after {
    position: absolute;
    content: "";
    top: 50%;
    bottom: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  .select-active:after {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    right: 10px;
    top: 37%;
    width: 0;
    height: 0;  
    border: 6px solid transparent;
    border-color:  transparent transparent #fff transparent ;
  }
  

  /*  border-color: #fff transparent transparent transparent;
  /*point the arrow upwards when the select box is open (active):*/
  /*
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }*/
  
  /*style the items (options), including the selected item:*/
  /*
  .select-items div,.select-selected {
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    width: 170px;
    height: 69px;
  }*/
  
  /*style items (options):*/
  .select-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 170px;
    height: 69px;
    cursor: pointer;
    color: #ffffff;
    background-color: #901c1c;
    border-radius: 5px;
  }

  .select-items p, .select-selected p {
    margin-left: 20px;
  }
  .select-border {
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .select-border > div {
    background-color: #ffffff;
    width: 150px;
    height: 1px;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 376px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #DB8876;
    font-size: 24px;
    font-weight: 500;
}


.stats .like {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats span {
    margin-left: 5px;
}

.stats .price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}